.h404{
    position:fixed;
    top:150px;
    margin-right:0;
    margin-left:0;
    color: #f0f5f5;
}

.marginTop30{
    margin-top: 30px;
}    

a{
  text-decoration: none;
  color:#5b605b;
}

.logo{
    width:120px;
    height:auto;
}

.marginTop100{
  margin-top: 100px;
}

.logo-contact{
   width: 30px;
   height:auto;
   margin-right: 15px;
}

.titre{
    margin-top: -100px;
    margin-bottom: 40px;
}

.language-h5{
    color: #800000;
    font-weight: 500;
    font-size: 2rem !important;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.img-right{
  max-width: 100%;
  height: auto;
}

.flex-align-midle {
  display: flex; 
  align-items:flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.input, .textarea{
  border-radius: 0px;
}


.carre_accueil{
  border-radius:0px
}

.carre{
  border-radius:0px
}

.white p, .white a , .white h2, .white li, .white h3{
  color:#ffffff;
}

.bordeau{
  background-color:#7E1616;
}

.jaune{
  background-color: #ffbb00;
}

.orange{
  background-color: #ea6500;
}

.carre_accueil:hover{
  background-color:#7E1616;
}

.carre_accueil:hover p, .carre_accueil:hover a , .carre_accueil:hover h2, .carre_accueil:hover li{
  color:#ffffff;
}
.img-language{
  width:100%;
  height:auto;
}
.z-index-top{
  z-index:5;
  position: fixed;
  width: 100%;
}

#language_back{
  z-index:0;
  top: 0;
  right:0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.text-center{
  text-align: center;
}

.damavand{
  position: relative;
  width: 50%;
  top: -150px;
  left: 50%;
}


#carousel {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 170px;
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 170px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 170px;
  float: left;
  text-align: center;
  position: relative;
}

/* Styling for prev and next buttons */

.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10px;
    width: 100%;
}

#buttons {
  padding: 0 0 5px 0;
  float: right;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 50px;
  float: left;
  outline: 0;
  margin: 0 60px;
  text-decoration: none;
  display: block;
  padding: 9px;
  width: 35px;
}

a#prev:hover,
a#next:hover {
  color: #FFF;
  text-shadow: .5px 0px #b14943;
}

.quote-phrase,
.quote-author {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
}

.quote-phrase {
  height: 100px;
  font-size: 20px;
}

.quote-marks {
  font-size: 20px;
  padding: 0 3px 3px;
  position: inherit;
}

.quote-author {
  font-style: normal;
  font-size: 15px;
  color: #b14943;
  font-weight: 400;
  height: 20px;
}

.quoteContainer,
.authorContainer {
  display: table;
  width: 100%;
}

@media screen and (max-width: 476px) {
  .logo {
    width:23%;
    height: auto;
  }
  
  .titre {
    margin-top: -13px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .container{
    padding-left:7px;
    padding-right:7px;
  }
}